body {
  padding: 1rem;
  font-family: 'Barlow', sans-serif;
}
h1 {
  color: #6699ff;
  text-align: center;
  font-size: 50px;
  opacity: 0.8;
}

table {
  border-spacing: 0.2rem;
}
td,
th {
  border: 2px solid #999;
  padding: 0.5rem;
  text-align: left;
 
}
th {
  background: lightblue;
  border-color: white;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}
tbody tr:nth-child(even) {
  background: #e0ddd3;
  opacity: 0.8;
}
 td {
  border-color: white;
} 
